name: Playwright tests

on:
    schedule:
        - cron: '0 2 * * *'
    workflow_dispatch:

jobs:
    generate-shards-matrix:
        runs-on: ubuntu-latest
        outputs:
            matrix: ${{ steps.set-matrix.outputs.matrix }}
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 24

            - name: Install dependencies
              run: npm ci

            - name: Get Total Number of Tests
              id: test-count
              run: |
                  TEST_LIST_OUTPUT=$(npx test --list)
                  TOTAL_TESTS=$(echo "$TEST_LIST_OUTPUT" | grep 'Total:' | awk '{print $2}')
                  echo "TOTAL_TESTS=$TOTAL_TESTS" >> "$GITHUB_ENV"

            - name: Total shards
              run: |
                  SHARD_COUNT=$(( (TOTAL_TESTS + 39) / 40 ))
                  echo "SHARD_COUNT=$SHARD_COUNT" >> "$GITHUB_ENV"
              env:
                  TOTAL_TESTS: ${{ env.TOTAL_TESTS }}

            - name: Generate shards matrix JSON
              id: set-matrix
              run: |
                  jq -cn --argjson count "${{ env.SHARD_COUNT }}" '[range(1; $count + 1) | { "shard-index": ., "total-shards": $count }]' > matrix.json
                  echo "matrix=$(cat matrix.json)" >> "$GITHUB_OUTPUT"

    test:
        needs:
            - generate-shards-matrix
        strategy:
            matrix:
                include: ${{ fromJSON(needs.generate-shards-matrix.outputs.matrix) }}
        runs-on: ubuntu-latest
        timeout-minutes: 60
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 24

            - name: Install dependencies
              run: npm ci

            - name: Cache Playwright Browsers
              id: cache-browsers
              uses: actions/cache@v3
              with:
                  path: ~/.cache/ms-playwright
                  key: playwright-browsers-${{ runner.os }}-${{ hashFiles('playwright.config.js', 'package-lock.json') }}
                  restore-keys: |
                      playwright-browsers-${{ runner.os }}-

            - name: Install Playwright Browsers
              if: steps.cache-browsers.outputs.cache-hit != 'true'
              run: npx playwright install --with-deps
              shell: bash

            - name: Run Tests (Shard ${{ matrix.shard-index }}/${{ matrix.total-shards }})
              env:
                  SHARD_INDEX: ${{ matrix.shard-index }}
                  TOTAL_SHARDS: ${{ matrix.total-shards }}
              run: npx playwright test --shard="$SHARD_INDEX/$TOTAL_SHARDS"

            - name: Upload Report Blob
              if: always()
              uses: actions/upload-artifact@v4
              with:
                  name: test-report-${{ matrix.shard-index }}
                  path: blob-report

    merge-reports:
        if: ${{ always() && cancelled() == false && needs.test.result != 'skipped' }}
        needs:
            - test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 24

            - name: Install dependencies
              run: npm ci

            - name: Download All Shard Reports
              uses: actions/download-artifact@v4
              with:
                  path: blob-reports
                  pattern: test-report-*
                  merge-multiple: true

            - name: Merge to HTML Report
              run: npx playwright merge-reports --reporter html ./blob-reports

            - name: Fail merge job if any test job failed
              run: |
                  if [[ "${{ needs.tests.result }}" == "failure" ]]; then
                    echo "A test job failed, failing this job so it can be retried."
                    exit 1
                  fi

            - name: Upload static files as artifact
              id: deployment
              uses: actions/upload-pages-artifact@v3
              with:
                  name: html-report--attempt-${{ github.run_attempt }}
                  path: playwright-report
                  retention-days: 90

    deploy-report:
        needs:
            - 'merge-reports'
        permissions:
            pages: 'write'
            id-token: 'write'
        environment:
            name: 'github-pages'
            url: '${{ steps.deployment.outputs.page_url }}'
        outputs:
            page_url: null
            description: 'URL to deployed GitHub Pages'
        runs-on: 'ubuntu-latest'
        steps:
            - name: 'Deploy to GitHub Pages'
              id: 'deployment'
              uses: 'actions/deploy-pages@v4.0.5'

    cleanup:
        if: ${{ success() && needs.tests.result == 'success' }}
        needs: [merge-reports]
        runs-on: ubuntu-latest
        steps:
            - uses: geekyeggo/delete-artifact@v2
              with:
                  name: |
                      test-report-*
                      tests-build
